<app-header-two></app-header-two>
<app-breadcrumb></app-breadcrumb>
<section class="faq-area bg-magnolia pt-130 pb-130">
  <div class="container">
    <div class="section-internal">
      <div
        class="section-particle-effect d-none d-md-block section-particle-effect-v2"
      >
        <img
          class="particle-1 animate-zoom-fade"
          src="assets/img/particle/particle-1.png"
          alt="particle One"
        />
        <img
          class="particle-2 animate-rotate-me"
          src="assets/img/particle/particle-2.png"
          alt="particle Two"
        />
        <img
          class="particle-3 animate-float-bob-x"
          src="assets/img/particle/particle-3.png"
          alt="particle Three"
        />
        <img
          class="particle-4 animate-zoominout"
          src="assets/img/particle/particle-4.png"
          alt="particle two"
        />
        <img
          class="particle-5 animate-zoominout"
          src="assets/img/particle/particle-5.png"
          alt="particle Five"
        />
        <img
          class="particle-7 animate-float-bob-x"
          src="assets/img/particle/particle-7.png"
          alt="particle Seven"
        />
      </div>
      <div>
        <h1>Daftar Pemenang</h1>
        <h4 class="mb-3">Pilih berdasarkan tahun event yang Anda ikuti</h4>
      </div>
      <div
        class="section-button-wrapper section-dual-button wow fadeInUp"
        data-wow-delay="0.3s"
        data-wow-duration="1500ms"
      >
        <!-- Start Button -->
        <a
          href="/kategori23"
          class="filled-btn m-1 bg-mandy button-radius"
        >2023</a>
        <a
          href="https://drive.google.com/file/d/16cT0Qixf86IZPAv6qmnKh1Hb51s1x2Fx/view?usp=sharing"
          target="_blank"
          class="filled-btn m-1 bg-mandy button-radius"
        >2022</a>
        <a
          href="https://drive.google.com/file/d/1E1HEdRUNaQ5KOixCfCCCeiRkQmZJjobx/view?usp=drive_link"
          target="_blank"
          class="filled-btn m-1 bg-mandy button-radius"
        >2021</a>
        <a
          href="https://drive.google.com/file/d/1eA7YebN_wfTagG5P0gZB9jrl7CjkNfot/view?usp=drive_link"
          target="_blank"
          class="filled-btn m-1 bg-mandy button-radius"
        >2020</a>
        <!-- End Button -->
      </div>
    </div>
  </div>
</section>
<app-footer-two></app-footer-two>
